@font-face {
  font-family: 'Pro Racing Slant';
  src: url('../fonts/ProRacingSlant-w1Mo9.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Pro Racing Slant', sans-serif;
}

:root {
  font-family: 'Pro Racing Slant', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.wrapper {
  width: 100%;
  max-width: 1920px;
}


body {
  color: #FFFFFF !important;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
